@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container {
    background-color: #F9F9FA;
}

.inner {
    width: 77vw;
    margin: 0 auto;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding:23px 0;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #A7A7A7;
}

@media ( width <= 320px) {
    .breadcrumb {
        font-size: 12px;
        line-height: 16px;
    }
}


.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 11px;
    content: "/";
}
