.starRating {
    display: flex;
    gap: 10px;
}

@media (width <= 320px) {
    .starRating {
        gap:19px;
    }
}

.starActive path {
    fill: rgb(255, 188, 31);
}

@media (width <= 320px) {
    .star {
        width: 27px;
        height: 27px;
    }
}
