.container {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #363636;
    padding-bottom: 62px;
}

@media (width <= 768px) {
    .container {
        font-size: 16px;
        line-height: 24px;
        margin-top: 22px;
    }
}

@media (width <= 768px) {
    .container {
        font-size: 16px;
        line-height: 24px;
        margin-top: 22px;
        padding-bottom: 28px;
    }
}
@media (width <= 320px) {
    .container {
        font-size: 18px;
        line-height: 28px;
        margin-top: 42px;
    }
}
@media (width <= 768px) {
    .counter {
        font-size: 18px;
        line-height: 28px;
    }
}

.box {
    display: flex;
    gap:26px;
}

@media (width <= 320px) {
    .box {
        margin-top: 19px;
    }
}

.separator {
    width: 350px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 0;
}

@media (width <= 768px) {
    .separator {
        width: 306px;
        border: 1px solid #EBEBEB;
    }
}

@media ( width <= 320px) {
    .separator {
        display: none;
    }
}
